<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>个人博客</title>
    <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap5/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap5/popper.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
</head>

<body>
    <header class="p-3 text-bg-success border-bottom mb-3">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="20" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <img src="{% static '/image/log.png' %}" alt="" height="30" class="src">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-white">首页</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">发布博客</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"> <input type="search"
                        class="form-control form-control-dark text-bg-white" placeholder="搜索 ..." aria-label="Search">
                </form>

                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">登录</button>
                    <button type="button" class="btn btn-warning">注册</button>
                </div>
            </div>
        </div>
    </header>

    <main class="container bg-white p-3 rounded">
        <h1>博客列表</h1>
        <div class="row row-cols-2 row-gap-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <a href="#">不想去教堂</a>
                    </div>
                    <div class="card-body" style="height: 120px;">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer text-body-secondary d-flex justify-content-between">
                        <div>
                            <img src="{% static 'image/sv.jpg' %}" class="rounded-circle" width="30" alt=""> 圣女
                        </div>
                        <div>
                            发布时间：2025-05-23 8:50
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <a href="#">Django从入门到入土</a>
                    </div>
                    <div class="card-body" style="height: 120px;">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer text-body-secondary d-flex justify-content-between">
                        <div>
                            <img src="{% static 'image/asd.png' %}" class="rounded-circle" width="30" alt=""> 大小姐
                        </div>
                        <div>
                            发布时间：2025-06-23 11:30
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <a href="#">大小姐的Vlog</a>
                    </div>
                    <div class="card-body" style="height: 120px;">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer text-body-secondary d-flex justify-content-between">
                        <div>
                            <img src="{% static 'image/xh.jpeg' %}" class="rounded-circle" width="30" alt=""> 夏虹
                        </div>
                        <div>
                            发布时间：2025-06-22 17:30
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <a href="#">K-on聚会</a>
                    </div>
                    <div class="card-body" style="height: 120px;">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer text-body-secondary d-flex justify-content-between">
                        <div>
                            <img src="{% static 'image/21.png' %}" class="rounded-circle" width="30" alt=""> mio酱
                        </div>
                        <div>
                            发布时间：2025-06-21 12:20
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </main>
</body>

</html>