body{
    background-color: rgba(0, 0, 0, 0.1);
}

.blog-content img,
.w-e-text-container img {
    max-width: 90%; /* 图片最大宽度不超过其父容器 */
    height: auto;    /* 保持图片纵横比 */
    display: block;  /* 确保图片是块级元素，避免底部空白 */
    margin: 0 ;  /* 如果想让图片靠左显示 */
}