{# article/_comment.html #}

{% load static %} 

<li class="list-group-item">
    <div class="comment-item comment-level-{{ comment.level }}"> 
        <div class="d-flex justify-content-between text-body-secondary mb-2">
            <div class="user-info d-flex align-items-center">
                <img src="{% if comment.author.profile.avatar %}{{ comment.author.profile.avatar.url }}{% else %}{% static 'image/21.png' %}{% endif %}"
                    class="rounded-circle" width="40" height="40" alt="{{ comment.author.username }}的头像">
                <span class="ms-2 fw-bold">{{ comment.author.username }}</span>
                {% comment %} 如果是回复，并且你想显示回复给谁 {% endcomment %}
                {% if comment.parent and comment.parent.author %}
                <span class="ms-1">回复</span>
                <span class="ms-1 text-primary fw-bold">{{ comment.parent.author.username }}</span>
                {% endif %}
            </div>
            <div class="create-time" style="font-size: 0.9em;">
                {{ comment.pub_time|date:'Y年m月d日 H时i分s秒'}}
            </div>
        </div>
        <div class="comment-content mb-2">{{ comment.content|linebreaksbr }}</div>

        <div class="comment-actions">
            {% if request.user.is_authenticated %}
            <button class="reply-button btn btn-sm btn-outline-info" 
                    data-comment-id="{{ comment.id }}"
                    data-author-name="{{ comment.author.username }}" {# 添加这个 data 属性 #}
                    data-author-id="{{ comment.author.id }}">回复</button> {# 添加这个 data 属性 #}
            {% endif %}

            {% if request.user == comment.author or request.user.is_superuser or request.user == comment.blog.author %}
            {# 将删除按钮改为 AJAX 触发的 button，而不是 type="submit" 的 form #}
            <button class="delete-comment-btn btn btn-sm btn-outline-danger ms-2" data-comment-id="{{ comment.id }}">删除</button>
            {% endif %}
        </div>


        {% if comment.children.all %}
            <ul class="list-group list-group-flush mt-2">
                {% for child_comment in comment.children.all %}
                    {% include 'article/_comment.html' with comment=child_comment comment_form=comment_form %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</li>