{% extends 'base.html' %}
{% block title %}博客详情页{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'highlight/styles/default.min.css' %}">
<script src="{% static 'highlight/highlight.min.js' %}"></script>
{% endblock %}
{% block main %}
<h1>{{ blog.title }}</h1>
<hr>
<div class="mt-2">
    <img src="{% if blog.author.profile.avatar %}{{ blog.author.profile.avatar.url }}{% else %}{% static 'image/21.png' %}{% endif %}"
        class="rounded-circle" width="30" alt="">
    <span class="ms-2">{{ blog.author.username }}</span>
    <span class="ms-2">发布时间：</span>
    <span class="ms-2 font-monospace">{{ blog.pub_time|date:'Y年m月d日 H时i分s秒' }}</span>
    <span class="ms-2">所属标签：{{ blog.category.name }}</span>
</div>
<hr>
<div class="py-2">
    {{ blog.content|safe }}
</div>
{% if user.is_superuser or user == blog.author %}
<div class="d-flex justify-content-end align-items-end mt-auto p-2"> <a href="{% url 'blog:delete_blog' blog.id %}"
        class="btn btn-danger">删除</a>
</div>
{% endif %}
<hr>

<div class="mt-2">
    <h3>评论（{{ blog.comments.all|length }}）：</h3>
    <form action="{% url 'blog:pub_comment' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="blog_id" , value="{{ blog.id }}">
        <div class="mt-2">
            <input type="text" class="form-control" placeholder="请输入评论" name="content">
        </div>
        <div class="text-end mt-2">
            <button type="submit" class="btn btn-success">提交</button>
        </div>
    </form>
</div>
<div class="mt-2">
    <ul class="list-group list-group-flush">
        {% for comment in blog.comments.all %}
        {# 将整个评论内容放在一个 div 中，并加上 list-group-item 类，模拟列表项 #}
        <div class="list-group-item">
            <div class="d-flex justify-content-between text-body-secondary">
                <div class="user-info d-flex align-items-center"> {# 加上 d-flex align-items-center 使头像和名字垂直居中 #}
                    {# 获取评论作者的头像，使用和 base.html 相同的逻辑来处理默认头像 #}
                    <img src="{% if comment.author.profile.avatar %}{{ comment.author.profile.avatar.url }}{% else %}{% static 'image/21.png' %}{% endif %}"
                        class="rounded-circle" width="40" height="40" alt="{{ comment.author.username }}的头像">
                    <span class="ms-2">{{ comment.author.username }}</span> {# 修正拼写：username #}
                </div>
                <div class="create-time" style="line-height: 40px; font-size: 15px">
                    {{ comment.pub_time|date:'Y年m月d日 H时i分s秒'}}
                </div>
            </div>
            <div class="mt-2">{{ comment.content }}</div>
        </div> {# 结束 list-group-item div #}
        {% endfor %}
    </ul>
</div>
<script>
    hljs.highlightAll();
</script>
{% endblock %}